ComputeLibrary/
android-ndk-r17c-linux-x86_64.zip
android-ndk-r17c/
arm64_pb_build/
arm64_pb_install/
armnn/
armnn_build/
boost_1_64_0.tar.bz2
boost_1_64_0/
nnlib/
protobuf/
qualcomm_hexagon_sdk_3_4_3_linux.zip
qualcomm_hexagon_sdk_3_4_3_linux/
tensorflow/
tf_pb/
toolchains/
x86_pb_build/
x86_pb_install/
models/tf

